#root {
  margin: 0 auto;
  padding: 2rem;
  width: clamp(200px,50%,1280px);
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}


.read-the-docs {
  color: #888;
}
/*estilo barra navegación superior*/
.horizontal-list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  background-color: #333333;
  margin: 0;
  height: 50px; /* Adjust the height as needed */
}

.horizontal-list li {
  margin-right: 10px;
}

.horizontal-list li:last-child {
  margin-right: 0;
}

.horizontal-list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px; /* Adjust the font size as needed */
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

p{
  font-size: 1.5rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
li {
  margin: 10px;
}
ul{
  list-style: none;
}
section.hidden {
  display: none;
}
h2{
  font-size: 2.5rem;
}
.cursor {
  display: inline-block;
  width: 0.4rem;
  height: 2rem;
  background-color: #ffffff;
  animation: cursorAnimation 0.8s infinite;
}

@keyframes cursorAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
